/* Crear variables - los nombres deberían ser genéricos */
:root {
    --ColorPrincipal: #00E497;
    --ColorSecundario: #02052F;
    --FontPrincipal: 'Open Sans', sans-serif;
    /* --FontPrincipal: 'Sigmar', cursive; */
}



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/* ^Despues de añadir esto al codigo el tamaño del contenido de ajusta al tamaño que se le indique al box-sizing
* - selecciona todos los elementos
after - añade contenido a la web desde CSS, no se puede seleccionar  */


body {
    font-size: 16px;
    font-size: 'Open Sans', sans-serif;
}

/* a{
    text-decoration: none;
}  para poner que todos los enlaces no tengan subr*/

/* Este código cambia que 1 rem = 10px en vez de 16, para poder hacer mejor la realción entre rem y px
    Se pone al principio del archivo de stilos */

/* h1 {
    color: red;
    text-align: center;
    background-color: black;
    padding: 50px;
    margin: 50px;
    font-size: 45px;
    /* px - em - rem - unidades de medida - diferencias:display: 
    px - unidades fijas / em y rem - unidades relativas (relación con el navvegador y docuemnto
    la que más se utiliza: rem - solo tiene relación con el navegador
    1 rem son +- 16 px en tamaño */

/* } */

/* Tipor de selector:
    de elemento - p{} - esto selecciona todos los elementos con la misma etiqueta
    de clase - lleva un punto delante y el nombre de la clase .cliente{} - no puede mpezar por caracter o por número. ha de ser una letra
    de ID - lleva un # delante y el nombre - #clase{} - solo se puede utilizar uno por html
    de atributo - [src="ruta de ubicaión"] {}
    convinación de descendetes - .cliente .nombre {} - clase nombre que elemento superior tenga clase cliente
    todos los hijos - .clente > p {} - selecciona todos los hijos que tenga la clase padre clente directamente
     */

/* Especificidad en CSS - da prioridad a una característica. se le han de dar especificaciones para que el navegador lo tenga en cuenta
 tener en cuenta que ecss son hojas de estilos en cascada - un selecctor de clase (.) es más específico que uno de elemento (sin nada)
 !important - hace que la propiedad es la más específica de todas, pero no es recomendable usarlo
  Especificidad:
- selector: elemento < .clase < #ID < !important - de menos a mas específico */


/* Colores: 
- básicos (nombre)
- hex: #000
- rgb (255, 255, 255)
- rgba (255, 255, 255, 1(completamente opaco)) - que añade transparecia */

/*  */



.Titulo {
    /* esto se hace añadiento el atributo class="" en el h1 dentro de <h1>
    se cambia porque es más específico que solo el h1 anterior, por lo que tiene prioridad */
    color: #0000ff;
}

.PrimeraSeccion a {
    /* selecciona todos los enlaces dentro de la clase "primera secion"
    Selecciona los enlaces cuyo elemento tiene la clase PrimeraSeccion
    Si quieres que se aplique a todos los enlaces quitas el .PrimeraSeccion */
    color: green;
}


/* HEADER ESTILOS */

.login {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 24px;
    display: flex;
    flex: row;
    justify-content: end;
}


.login1 a {
    color: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

.login1 a:hover {
    color: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: underline;
}

.palo {
    color: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.login2 a {
    color: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

.login2 a:hover {
    color: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    text-decoration: underline;
}


/* NAV ESTILOS */

.menu-primary {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex: row;
}

.menuimagen {
    display: flex;
    flex: 34%;
    max-width: 34%;
    justify-content: flex-start;
}

.menuenlaces {
    display: flex;
    flex: 66%;
    max-width: 66%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tucarrerainfo a {
    margin-left: 25px;
    color: var(--ColorSecundario);
    font-family: var(--FontPrincipal);
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-decoration: none;
}


.tucarrerainfo a:hover {
    color: var(--ColorSecundario);
    font-family: var(--FontPrincipal);
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-decoration: underline;
}


.informate a {
    background-color: var(--ColorPrincipal);
    /* aplica la variable de Color principal */
    font-family: var(--FontPrincipal);
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    margin-left: 20px;
}

.informate a:hover {
    background-color: #17a2b8;
    /* aplica la variable de Color principal */
    font-family: var(--FontPrincipal);
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    margin-left: 20px;
}

@media(max-width: 768px) {
    .menuimagen {
        flex: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .menuenlaces {
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-primary {
        flex-wrap: wrap;
    }

    .menuenlaces a {
        margin: 0px;
        padding: 10px 0px 10px 0px;
        border-top: 1px solid var(--ColorSecundario);
        display: block;
    }

}




/* PRIMERA SECCIÓN ESTILOS - IMAGEN DE FONDO */

.PrimeraSeccion {
    background-image: url(../img/11641891319_banner_zona_norte.png);
    background-position: top left;
    background-size: cover;
    /* si la imagen va de fondo será - cover - la imagen pierde los laterales, ocupa todo el espacio aunque recorte la foto
    el contain - contiene la imagen dentro del espacio de la página */
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 180px;
    margin-right: -15px;
    margin-left: -15px;

}

.PrimeraSeccion h1 {
    color: var(--ColorSecundario);
    margin-bottom: 0;
    font-size: 47px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: column;
    flex: 66%;
    max-width: 66%;
}

.PrimeraSeccion strong {
    background-color: white;
    /* display: block - un bloque y los siguientes debajo - uno debajo del otro
    display inline - una a la derecha del otro
    <p> - block by default */
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    padding: 3px 15px;
    /* padding: 3px 15px 3px 15px - cuando el top y el botton se repiten y el left y rigth tambien se puede acrotar de la forma anterior */
    font-size: 4.7rem;
    font-family: var(--FontPrincipal);
    color: var(--ColorSecundario);
    line-height: 1.2;
    display: block;
    max-width: fit-content;
}



.contenedor {
    width: 55%;
    /*clase que se utiliza para  centrar el contenido de la página
     margin:0 auto; - en un contenedor se pueden tener los 4 margin (top, right, bottom, left)
     cada uno de ellos puede tener un valor, pero se puede hacer:
     margin: 0 auto 0 auto (en sentido de las agujas del reloj, la forma más simple es: 
     margin: 0 auto (el primer valor es top y botton y el segundo riht y left)
     en vez de margin-top: 0, margin-left: auto...;
     No es bueno usar tamaños fijos, mejor porcentajes o medidas dinámicas en vez de 114rem - 85%*/
    margin: 0 auto
}

/* MEDIA - Responsive design
PC - 1140px
Tablet - 768px
Movil - 480px 
La primera restricción es que cuando el tamaño sea menos de PC, el contenedor se ha de modificar
y una segunda para cuando la patalla sea menor que 768 - siempre se delimita de mayor a menor*/
@media(max-width: 1140px) {
    .contenedor {
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
}






.PrimeraSeccion a {
    color: #fff;
    border: 2px solid var(--ColorSecundario);
    background: var(--ColorSecundario);
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 2.4rem 9.4rem;
    text-decoration: none;
    display: inline-block;
    font-family: "DinBold", sans-serif;
    text-transform: uppercase;
}

.PrimeraSeccion a:hover {
    color: var(--ColorSecundario);
    border: 2px solid var(--ColorSecundario);
    background: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 2.4rem 9.4rem;
    text-decoration: none;
    display: inline-block;
    font-family: "DinBold", sans-serif;
    text-transform: uppercase;
}


@media(max-width:1140px) {
    .PrimeraSeccion h1 {
        flex: 100%;
        max-width: 100%;
    }

    .PrimeraSeccion strong {
        font-size: 3.7rem;
    }
}

@media(max-width:768px) {
    .PrimeraSeccion a {
        display: block;
        text-align: center;
    }
}



/* LOGOS RED + ADECCO */

.logos {
    display: flex;
    flex: row;
    margin-top: -70px;
    padding: 30px 15px;
    background-color: white;
    box-sizing: border-box;
    font-family: var(--FontPrincipal);
    font-weight: 400;
    color: var(--ColorSecundario);
    border-radius: 12px;
    justify-content: center;

}

.logos1 {
    flex: 70%;
    max-width: 70%;
    text-align: center;

}

.logos2 {
    padding-top: 30px;
    flex: 30%;
    max-width: 30%;
    text-align: center;
}


.logos img {
    max-width: 100%;
    padding: 10px;
}


@media(max-width:768px) {
    .logos {
        flex-wrap: wrap;
    }

    .logos1 {
        flex: 100%;
        max-width: 100%;
    }

    .logos2 {
        flex: 100%;
        max-width: 100%;
        padding-top: 20px;
    }
}


/* CURSOS - CONECTAMOS */

.cursos h3,
.cursos h2 {
    font-weight: 800;
    font-family: var(--FontPrincipal);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    /* se fuerza que el margen sea 0, ya que viene implementado, el margen se le añade encada elemento */
}

.cursos h3 {
    color: var(--ColorPrincipal);
    font-size: 17px;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    padding: 40px 0px;
}

.cursos h2 {
    font-size: 27px;
    color: var(--ColorSecundario);
    padding-bottom: 50px;

}

/* .cursos h3, .cursos h2{
    Esto selecciona ambos selecctores
} */



/* CIUDADES  - BOTONES*/

.ciudades {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}

.ciudades .vertodo {
    background: var(--ColorPrincipal);
    color: #fff;
    border-color: var(--ColorPrincipal);
    border-radius: 8px;
    border: 1px solid;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--FontPrincipal);
}

.ciudades .vertodo:hover {
    background: white;
    color: var(--ColorSecundario);
    border-color: var(--ColorPrincipal);
}

.ciudades a {
    border-radius: 8px;
    margin-right: 0.5rem;
    border: 1px solid var(--ColorPrincipal);
    padding: 10px 24px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--FontPrincipal);
    color: black;
}

.ciudades a:hover {
    background-color: var(--ColorPrincipal);
    color: white;
}


@media(max-width:1140px) {
    .ciudades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }
}




/* CURSOS QUE HAY - CON IMAGENES */

.fichas div {
    padding: 40px 60px;
    background-position: right;
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    /* padding-left: 15px;
    padding-right: 15px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.fichas {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;

}

.cursomarketing {
    background-image: url(../img/Curso-marketing-digital-norte.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
}

.cursoFS {
    background-image: url(../img/Curso-programacion-web-full-stack-norte.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
}

.fichas h2 {
    color: white;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 22px;
    font-family: var(--FontPrincipal);
    text-transform: uppercase;

}

.fichas a {
    background-color: #fff;
    color: var(--ColorSecundario);
    border-color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 25px 44px;
    margin-top: 70px;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    max-width: fit-content;
}

.fichas a:hover {
    background-color: var(--ColorPrincipal);
    color: white
}

@media(max-width:1140px) {
    .fichas a {
        margin-top: 40px;
    }
}

@media(max-width:768px) {
    /* .fichas{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .fichas div{
        flex: 100%;
        max-width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    } */

    /* ^Esto hace los mismo que la anterior
    .fichas .cursomarketing {
        flex: 100%;
        max-width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .fichas .cursoFS {
        flex: 100%;
        max-width: 100%;
        margin: 0px;
    } */
    /* ^Arriba: hecho con flex - Abajo: hecho con grid */

    .fichas {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px
    }

    .fichas div {
        flex: 100%;
        max-width: 100%;
        margin: 0px;
        /* margin-bottom: 20px; */
    }


}







/* TE INTERESA ALGÚN OTRO CURSO? PIDELO */

.pidelo {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.pidelo h3 {
    font-weight: 800;
    font-size: 17px;
    text-transform: uppercase;
    font-family: var(--FontPrincipal);
    color: var(--ColorSecundario);
    margin-top: 80px;
    /* margin-bottom: 65px; */
}

.pidelo a {
    background: var(--ColorPrincipal);
    font-family: var(--FontPrincipal);
    color: #fff;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.pidelo a:hover {
    background: var(--ColorSecundario);
    text-decoration: underline;
}

/* VIDEO */
/* Youtube - compartir, copiar link, copiar en html */

.secvideo {
    margin-top: 150px;
    margin-bottom: 70px;
    /* position: relative; */
    width: 100%;
    display: block;

}

.secvideo iframe {
    /* position: absolute; */
    width: 100%;
    height: 625px;
    display: block;
    top: 0px;
    left: 0px;
}

@media(max-width:1140px) {
    .secvideo iframe {
        height: 400px;
    }
}

@media(max-width:768px) {
    .secvideo iframe {
        height: 250px;
    }
}



/* INFORMACIÓN SOBRE LOS CURSOS DEL FINAL Y COMO HACER */

.infocursos {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.infocursostexto {
    flex: 50%;
    max-width: 50%;
}

.infocursos16 {
    flex: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.infocursostexto h3 {
    font-weight: 800;
    color: var(--ColorPrincipal);
    font-size: 17px;
    font-family: var(--FontPrincipal);
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin-top: 50px;

}

.infocursostexto h2 {
    font-weight: 800;
    font-size: 27px;
    font-family: var(--FontPrincipal);
    color: var(--ColorSecundario);
    line-height: 1.5;
}

.infocursos p {
    font-size: 14px;
    margin-bottom: 25px;
    display: block;
    font-family: var(--FontPrincipal);
    font-weight: 400;
    color: var(--ColorSecundario)
}

.infocursos h4 {
    font-weight: 800;
    font-size: 15px;
    line-height: 1.8;
    font-family: var(--FontPrincipal);
    color: var(--ColorSecundario);
    text-transform: uppercase;
}

.iralaweb {
    color: var(--ColorPrincipal);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
    font-family: var(--FontPrincipal);
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
}

.infocursos .pinfocursos {
    font-weight: 800;
    font-size: 14px;
    font-family: var(--FontPrincipal);
    color: var(--ColorSecundario);
    line-height: 1.5;
    text-align: left;
}

.descargarinfo {
    background-color: var(--ColorSecundario);
    border-color: var(--ColorSecundario);
    padding: 20px 40px;
    color: white;
    border: 2px solid var(--ColorSecundario);
    border-radius: 10px;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 25px;
}

.descargarinfo:hover {
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);

}

.infocursos16 h3 {
    color: white;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.infocursos16 strong {
    color: white;
    background-color: var(--ColorSecundario);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px 15px;
    font-family: var(--FontPrincipal);
    line-height: 1.2;
    display: block;
    max-width: fit-content;
    text-align: end;

}

.infocursos16 a {
    background-color: var(--ColorPrincipal);
    max-width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: var(--ColorSecundario);
    font-weight: 800;
    padding: 13px 40px;
    border-radius: 10px;
    font-size: 14px;
    font: var(--FontPrincipal);
}


@media(max-width:1140px) {
    .infocursos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }

    .infocursos div {
        max-width: 100%;
    }

}

@media(max-width:768px) {
    .descargarinfo {
        display: block;
        text-align: center;
    }

    .infocursos16 a {
        max-width: 100%;
    }

    .infocursos h3 {
        font-size: 27px;
    }
}



/* LOCALIZACIONES */
/* Como h3 y p son elememtos con block automático hay que decirles uno a uno que el
display deseado en inline / mientras que los <a> son automaticamente inline*/

.Localizaciones {
    margin-top: 100px;
    padding-bottom: 100%;
    background: var(--ColorSecundario);
    padding: 90px 0px;
    text-align: left;

}

.Localizaciones h2 {
    margin-bottom: 50px;
    color: white;
    font-size: 27px;
    font-weight: 700;
    font-family: var(--FontPrincipal);
    line-height: 1.2;
    margin-top: 0;
    text-transform: uppercase;
}

.ciudadesloc {
    display: flex;
    flex-wrap: wrap;
}

.ciudadesloc div {
    flex: 25%;
    max-width: 25%;
    padding-right: 15px;
}

.Localizaciones .contenedor div,
.Localizaciones h3,
.Localizaciones p {
    color: white;
    font-family: var(--FontPrincipal);
    text-transform: uppercase;
}

.Localizaciones h3 {
    margin-bottom: 5px;
}

.Localizaciones p {
    margin-top: 5px;
}

@media(max-width:1140px) {
    .ciudadesloc {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ciudadesloc div {
        max-width: 100%;
    }
}

@media(max-width:768px) {
    .ciudadesloc {
        display: grid;
        grid-template-columns: 1fr;
    }
}



/* SECCIÓN CONTACTAR */

.contactar {
    background-color: var(--ColorPrincipal);
    padding-bottom: 150px;
    padding-top: 90px;
}

.contactar h3 {
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 300;
    color: white;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: var(--FontPrincipal);
}

.contactar h2 {
    font-weight: 800;
    color: white;
    font-size: 27px;
    text-transform: uppercase;
    font-family: var(--FontPrincipal);
}

.contactarinfo {
    display: flex;

}

.contactarinfo div {
    max-width: 50%;
    flex: 50%;
    background-color: white;
    border-radius: 2.5px;
    padding: 25px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactarinfo p {
    text-transform: uppercase;
    color: var(--ColorSecundario);
    font-weight: 800;
    font-family: var(--FontPrincipal);

}

.contactarinfo a {
    color: var(--ColorPrincipal);
    font-weight: 800;
    font-size: 14px;
    font-family: var(--FontPrincipal);
    text-decoration: none;
}

.contactarinfo a:hover {
    text-decoration: underline;
}


.contacto1:before {
    content: url(../img/ico-TLF.png);

}

.contacto2:before {
    content: url(../img/ico-EMAIL.png);
}

@media(max-width:1140px) {
    .contactarinfo {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

    }
    .contactarinfo div {
        max-width: 100%;
        margin-top: 10px;
    }
}




/* APUNTES  */


/*04/05
 Display: 
- Block
- Inline
^Aparecen por defecto
- Flex
- Grid
^Permiten mas diseño

Display:flexbox - modelo unidimensional - solo trabaja en una dirección, en vertical o en horizontal
fila - row / columna - colummn - por defento toma la dirección de fila ,se ha indicar la calumna
los elementos se organizan en una unica fila (row, no rows)
Se le ha de dar la propiedad al elemento padre para que se cree el contenedor!!!! - importante
Se utiliza para alinear los elementos del a web, solo se usa para el diseño, no dar efectos*/

/* .ejercicioflex {
    background-color: red;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
/* justify - ordena los elementos dentro de la linea - ajusta en la dirección principal, en row alinea en fila y en colum ajusta en columna
/* align-items: center; */
/* ajusta en dirección contraria - en fila ajusta en columna y en columna ajusta en fila */
/* flex: 50%;
    max-width: 50%; */


/* .ejercicioflex a{
    color: white;
} */

/* Estilos para escribir CSS - diferentes enfoques
Objetivo: poder hacer que otra persona entienda el codigo
- BEM - bloques, elementos, modificadores*
.bloque__titulo__/
- Utility first - llamamos a la clase por funcionalidad
- Modulos - .clase + cascada (el que usamos)


Responsivve web desing:
ob: que la web se adapte al tamaño de las pantallas
Google penaliza que un sitio web no está adaptado a los tamaños de pantalla
(page speed insights - para saber las analíticas de la pagina web)
Media Queries - se identifican con un @, es una restricción
@media (min-width:780px){
    Aquí dentro van todas las clases y estilos que se han ido creando
}
Si el width de la pantalla es menos que 780 no funcionaría
Añade restricciones y activa el codigo que se cumplen

/* @media (min-width:480px) {

    body {
        background-color: blue;
    }

}

@media (min-width:750px) {

    body {
        background-color: yellow;
    }

}

@media (min-width:900px) {

    body {
        background-color: red;
    }

} 
Los tamaños que más se trabajan: 1140px PC - 768px Table - 480px Movil
responsively.app*/


/* 08/05
 https://flexboxfroggy.com/#es
 CSS - box model - todos lo elemetnos de css son cajas, contenedores - contenido, padding, border y margin - determinan el tamaño
 depende de: tamaño de contenido, padding, el borde y el margin - afecta al tamaño completo de la caja
 h2 - arriba del todo - */

.ejboxmodel {
    height: 500px;
    margin: 100px;
    padding: 20px;
    border: 2px solid black;
    /* background-color: red; */
    position: relative;
    box-shadow: 38px 26px 47px 10px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(to left, red 10%, blue 70%);
    /* Para hacer gradiente se usa la propiedad - background image y no color
    To top, que va de abajo hacia arriba, despues van los colores
    Los porcentajes indican desde donde empiezan las transiciones */
}

/* .ejboxmodel h2::before{ - psueodelementos
    content:"AÑADIDO DESDE CSS, NO SE PUEDE COPIAR"
 } */
/* Pone el texto antes de lo que tu añades en html */

.ejboxmodel h2::after {
    content: "AÑADIDO DESDE CSS, NO SE PUEDE COPIAR";
}

/* Pone el texto despues del texto que tu añades en html */
/* El after y el before son pseudoelementos */

.ejboxmodel h2 {
    left: 0px;
    bottom: 0px;
    position: absolute;
}

/* Es a los elementos hijos que la posición es absoluta, y al elemento padre es relativo,
 sino el elementos relativo será la página 
 Para empezar a escribir en en una posición diferente a la establecida predeterminadamente
 por defecto top y botton están siempre a 0px, para empezar a escribir en otra posición se ha
 de cambiar las posiciones */


/* ORGANIZAR EL CODIGO CSS
  Partir de lo más general a lo más particular
  1. :root - 2. html > body > * - 3. selectores de elementos que actuen a ni vel global:
   p, enlaces, imagenes - 4. llamar a las clases por secciones con cometarios */

/* Degradados y sombras
   https://www.cssmatic.com/
   Eleir lo que deseemos y copiar el codigo CSS donde queramos
   -webkit-box-shadow: 38px 26px 47px 10px rgba(0,0,0,0.7);
-moz-box-shadow: 38px 26px 47px 10px rgba(0,0,0,0.7);
^Extensiones que se le dan al navegador para que sepa como ejecutarlo en otras plataformas (no se usa ya)
box-shadow: 38px 26px 47px 10px rgba(0,0,0,0.7);

Can i use - permite saber si la propiedad tiene una bunea aceptación según el navegador que usemos
*/



/* 09/05
CSS - GRID
permite modificar la ubicación y tamaño de los elementos
trabaja en fila y columna a la vez, a diferencia de grid
mayor flexibilidad y control sobre el diseño
Se pueden utilizar ambos en la misma hoja de estilos */

/* LOCALIZACIONES CON GRID 
display:grid - lo lleva el elemento padre
mas en numero de filas y columnas
grid-template-columns/row: 1fr 1fr 1fr 1fr; / 25% 25% 25% 25% / 25px 25px 25px 25px- fracciones , indica nuemro de elementos (4 columnas)
grid-template-columns: repeat(4, 1fr/25%); - para no repetir los números
grid-template - para dar infomración de filas y columnas a la vez: 1fr 1fr / 1fr 1fr; 
gap: 15px; - permite dar espacios en el grid*/

.ciudadeslocgrid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* Cuando de utiliza grid o flexbox?
Grid para alinear contenedores dentro de contenedores
Flex para alienar los contenedores

https://cssgridgarden.com/#es*/




/* FOOTER */

.menufooter {
    padding: 50px 0px;
    border-bottom: 1px solid var(--ColorSecundario);

}

.menufooter a {
    font-weight: 800;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--ColorSecundario);
    padding-right: 60px;
    text-decoration: none;
    font-family: var(--FontPrincipal);

}

.paginaslegales {
    padding: 20px 0px;
    border-bottom: 1px solid var(--ColorSecundario);
    margin-bottom: 40px;
}

.paginaslegales a {
    font-size: 14px;
    color: var(--ColorSecundario);
    padding-right: 50px;
    font-family: var(--FontPrincipal);
}

.paginaslegales a:hover {
    color: rgb(9, 118, 243);

}

@media(max-width:768px){
    .menufooter{
        display: grid;
        grid-template-columns: 1fr;
    }

    .menufooter a{
        margin-top: 10px;
    }

    .paginaslegales a{
        padding-right: 20px;
        padding-top: 10px;
        display: inline-block;
        
    }

    .paginaslegales{
        margin-bottom: 100px;
    }

}


/* ULTIMA SECCION - QUE SOLO SE VE EN MOVIL */

.fija{
    background-color: var(--ColorPrincipal);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    /* ^Hace que la seccion sea fija y se ponga al final de la pagina */
    width: 100%;
    align-items: center;
}

.fija p{
    padding-top: 5px;
    color: white;
    font-weight: 700;
    font-family: var(--FontPrincipal);
    text-transform: uppercase;
}


@media(min-width:768px){
    .fija{
        display: none;
    }
}
/* ^Esto hace que solo salga en movil y no en las demás pantallas */





/* BOTONES FIJOS */

.botoninformate {
    position: fixed;
    right: 0px;
    top: 320px;

}

.arriba {
    position: fixed;
    bottom: 75px;
    right: 40px;

}

.arriba img {
    width: 60px;
    height: 60px;
}


/* 11/05 - EJERCICIO GRID 
Inspecionar página - Layaout - show line numbers - grid overlays, esto muestralos numeros de las 
lineas en grid, que sirve para mover los lementos en el grid
Por si solo el grid no añade altura, ni color, por lo que eso se le ha de dar a parte
según queramos*/

/* .EjercicioGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.hijo1{
    background-color: red;
    height: 500px;
    grid-row: 1/2;
    grid-column: 2/3;
    ^Esquema para cambiar los elementos de columnas y de filar 2/3 ahora irá de la columna
    2 a la 3, si pones 3/5 ocupará dos espacios
}

.hijo2{
    background-color: green;
    height: 500px;
    grid-row: 1/2;
    grid-column: 4/5;
}

.hijo3{
    background-color: blue;
    height: 500px;
    grid-row: 2/3;
    grid-column: 3/5;
} */


/* OTRO EJERCICIO GRID */

/* .elegrid {
    display: grid;
    grid-template-rows: 200px 600px 200px;
    grid-template-columns: 10% 40% 20% 20% 10%;
}

.ele1 {
    background-color: red;
    grid-row: 1/2;
    grid-column: 2/4;

}

.ele2 {
    background-color: green;
    grid-row: 2/4;
    grid-column: 4/6;
}

.ele3 {
    background-color: blue;
    grid-row: 2/4;
    grid-column: 1/2;
} */