:root {
    --FuentePrincipal: 'Bebas Neue', sans-serif;
  }
  
  body {
  
    position: relative;
    z-index: -10;
    max-width: 100ww;
    background-color: rgb(26, 26, 26);
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .Kappybara {
    display: flex;
    position: absolute;
    z-index: 6;
    background-position: 50%;
    height: 100%;
    width: 100%;
    background-size: 250px;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    background-color: #483779;
  
    /* background-image: url(/PuebasProyectoPersonal/Kappy_Solo.svg); */
  }
  
  .relleno {
    display: flex;
    flex: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('/PuebasProyectoPersonal/mask.png');
    background-size: cover;
    z-index: 10;
    justify-content: center;
    align-content: center;
    background-position-y: -100px;
  }
  
  .rellenoMask {
  
    position: absolute;
    z-index: 6;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
    animation: fill 5s linear;
    /* animation: move 25s cubic-bezier(.55,.5,.45,.5)     infinite; */
  }
  
  /* @keyframes movew {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    } */
  
  
  @keyframes fill {
    0% {
  
      transform: translateY(100%);
    }
  
    35% {
  
      transform: translateY(50%);
  
    }
  
    65% {
      transform: translateY(0%);
    }
  
    100% {}
  
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-right: 300px;
  }
  
  #load {
    margin-top: 280px;
    position: absolute;
    width: 600px;
    height: 36px;
    left: 45%;
    top: 40%;
    margin-left: -200px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  #load div {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: var(--FuentePrincipal);
    font-size: 25px;
    animation: move 5s linear infinite;
  
    transform: rotate(180deg);
  
    color: #fff;
  }
  
  #load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  
  #load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }
  
  #load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }
  
  #load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  
  #load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  
  #load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
  }
  
  @keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
  
    35% {
      left: 41%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    65% {
      left: 59%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    100% {
      left: 100%;
      -moz-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }
  
  
  /* .loader {
  
    background-size: cover;
    display: inline-block;
    background-repeat: none;
    width: 180px;
    height: 10px;
    position: fixed;
    background-color: #111111;
    border: 2px solid #Fff;
    border-radius: 5px;
    padding-bottom:10px;
  
    animation: loader 2s infinite ease;
  } */
  
  .loader-inner {
  
    vertical-align: top;
    display: inline-block;
    width: 100%;
    border-radius: 100px;
    background-color: #fff;
    z-index: 10;
    animation: loader-inner 2s infinite ease-in;
  }
  
  /* @keyframes loader {
    0% { transform: rotate(0deg) ;}
    
    25% { transform: rotate(180deg)}
    50% { transform: rotate(180deg) scaleY(2)scaleX(0.4) ;}
    75% { transform: rotate(360deg) ;}
    100% { transform: rotate(360deg) scaleY(2)scaleX(0.4);}
  } */
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
  
    25% {
      height: 0%;
    }
  
    50% {
      height: 100%;
    }
  
    75% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
  }
  
  /* Login */
  .LoginBox {
    position: relative;
    background-color: #111111;
    padding: 0px 0px 10px 0px;
    z-index: 4;
  }
  
  .Login {
    /* margin:auto; */
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    grid-template-rows: 1fr;
    /* background: linear-gradient(#483779 0%, black 98%); */
    background: linear-gradient(to right, rgb(26, 26, 26) 0%, #292929 50%, rgb(26, 26, 26) 98%);
    margin: 0px;
    max-width: 100%;
  
    z-index: 4;
    position: relative;
    box-shadow: inset 1300px -2px 0px 11px #483779;
    filter: brightness(1.1);
    justify-content: center;
    align-content: center;
  
  }
  
  .Login1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .Login1 p {
    display: flex;
    flex: 80%;
    font-size: 20px;
    font-family: var(--FuentePrincipal);
    color: white;
  
    align-content: center;
  
  
  }
  
  .Login1 a {
    display: flex;
    flex-direction: row;
    flex: 20%;
    justify-content: center;
    align-items: center;
    background-image: url(/PuebasProyectoPersonal/Kappy_Solo.svg);
    max-width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-left: 25px;
  
  }
  

  
  .Login div {
  
    font-family: var(--FuentePrincipal);
    margin-top: -11px;
    align-content: center;
    justify-content: center;
  
  
  }
  
  .Login2 a,
  .Login3 a,
  .Login4 a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
  
  
    margin-left: 10px;
    justify-content: center;
    margin-top: 26px;
    transition: 1s;
  
  }
  
  .Login a:hover {
    transform: scale(1.2);
  
  
  
  }
  
  /* Nav */
  
  .Busqueda {
    margin-top: 50px;
    position: relative;
    z-index: 4;
  
  }
  
  nav div {
    background: linear-gradient(to left, rgb(26, 26, 26, 0.185) 0%, #483779 50%, rgb(26, 26, 26, 0.194) 98%);
    display: grid;
    grid-template-columns: 25% 10% 10% 10% 10% 25%;
    grid-template-rows: 1fr;
    max-height: 60px;
    gap: 13px;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  nav a {
  
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    grid-column: 1/2;
  
  }
  
  nav input::placeholder {
    color: white;
    text-align: left;
    font-family: var(--FuentePrincipal);
    font-size: 18px;
  
  
  
  }
  
  nav input:focus {
    outline: none;
    margin: 0px;
    border-bottom: 2px solid white;
    border-radius: 0px;
  
  
  
  
  
  }
  
  nav input[type=text] {
    background-color: rgba(255, 255, 255, 0);
  
    color: white;
  
  
  }
  
  nav input {
    grid-column: 5/6;
    margin: 0px 0px 2px 0px;
    background-color: #483779;
    padding: 10px;
    border: 0;
    border-radius: 10px;
  
    width: 70px;
    height: 5px;
    justify-content: center;
    align-content: center;
  }
  
  .discover {
    grid-column: 2/3;
  }
  
  .news {
    grid-column: 3/4;
  }
  
  .browser {
    grid-column: 4/5;
  }
  
  /* carrusel */
  .carrusel {
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 100%;
    height: 700px;
    gap: 0px;
    z-index: -1;
    margin-top: -120px;
    transition: grid-template-columns 2s ease-in-out;
  
  
  }
  
  .row1 {
    /* grid-column: 1/2; */
    /* grid-row: 1; */
    max-height: 800px;
    background-image: url(https://wallpaperaccess.com/full/1949885.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: 70%;
    transition: background-size 0.3s ease;
  
  
  }
  
  
  .info1Box {
    display: block;
    max-width: 100%;
    height: 700px;
  }
  
  
  
  .row2 {
    /* grid-column: 2/3; */
    /* grid-row: 1; */
    max-height: 800px;
    max-width: 100%;
    background-image: url(https://images.hdqwalls.com/wallpapers/the-elder-scrolls-v-skyrim-5k-kg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 90%;
    transition: background-size 2s;
  
  }
  
  .row1:hover {
    opacity: 1;
    filter: brightness(1.1);
  }
  
  .row2:hover {
  
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: brightness(0.7);
    opacity: 1;
  
  }
  
  .row3:hover {
    opacity: 1;
    filter: brightness(1);
  
  }
  
  .row4:hover {
    opacity: 1;
    filter: brightness(1.1);
    background-size: cover;
  }
  
  .row5:hover {
    opacity: 1;
    background-size: cover;
    filter: brightness(1.1);
  }
  
  .row3 {
    /* grid-column: 3/4; */
    /* grid-row: 1; */
    max-height: 800px;
    max-width: 100%;
    background-image: url(https://static.bandainamcoent.eu/high/tekken/tekken-8/00-page-setup/TEKKEN8_Header_mobile_2.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -40%;
  
    background-repeat: no-repeat;
  
  
  
  
  }
  
  .row4 {
    /* grid-column: 4/5;
    grid-row: 1; */
    max-height: 800px;
    max-width: 100%;
    background-image: url(https://sun9-34.userapi.com/tFL_HzgkD1C-F26xNdLtqwrqEBuUsv1v9pya2w/X_b1jD0AkO4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-size 2s;
  
  
  
  }
  
  .row5 {
  
    background-image: url(https://7wallpapers.net/wp-content/uploads/The-Outlast-Trials-12-1800x1013.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    display: inline-block;
  
  }
  
  
  
  .carrusel div {
    position: relative;
    z-index: 1;
    opacity: 0.2;
  
  }
  
  
  .Card1 div {
  
    background-image: url(https://imgeucdn.gamespress.com/cdn/files/Games%20Press/2023/02/061550-844d28c2/DD2-Logo.png?w=591&mode=max&otf=y&quality=90&format=png&bgcolor=transparent&ex=2023-07-01+03%3A00%3A00&sky=f2a518d861db0a327bdeb46ed680cb2e847d42a9930e010e597173dcf4182ec2);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    max-width: 100%;
    height: 800px;
    background-size: 90%;
    opacity: 0.01;
  
    /* z-index: 1000; */
  
    /* position: relative; */
  
  }
  
  .carrusel a>div:hover {
    opacity: 1;
  }
  
  
  .Card2 div {
    align-content: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/45/The_Elder_Scrolls_V_-_Skyrim_logo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 80%;
  
    max-width: 100%;
    height: 800px;
    filter: invert();
    background-position: 50%;
    opacity: 0;
  
  
  
  
  
  
  
  }
  
  
  
  
  
  .Card3 div {
    align-content: center;
    background-image: url(https://static.bandainamcoent.eu/high/tekken/tekken-8/00-page-setup/tekken8_logo.jpg.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    display: hidden;
    max-width: 100%;
    height: 800px;
    background-size: 90%;
    filter: saturate(200%) drop-shadow(0 0 2rem rgb(255, 200, 89));
    ;
  
  
  
  
    opacity: 0;
  
  
  
  }
  
  
  
  .Card4 div {
  
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/The_Last_of_Us_vertical_logo.svg/1200px-The_Last_of_Us_vertical_logo.svg.png);
    background-repeat: no-repeat;
  
    opacity: 0;
    background-size: 20%;
    background-position-x: 8%;
    background-position-y: 52%;
    height: 800px;
  
    filter: invert();
    width: 100%;
    margin-right: 10px;
    justify-content: left;
  
  
  }
  
  
  
  
  
  .Card5 div {
  
    height: 800px;
    max-width: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/f/f6/1592154132_outlasttrials_logo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 80%;
    opacity: 0;
  
    /* display: hidden; */
  
  
  
  
  }
  
  

  
  /*fade*/
  
  .fade {
  
    position: relative;
    z-index: -1;
    padding: 70px 30px;
    background: linear-gradient(to bottom, #483779 40%, rgb(26, 26, 26) 60%);
  
    background-size: cover;
  
  
  
  
  
    margin-bottom: -700px;
  
  }
  
  /* FOOOTER DEJAR SIEMPRE DE LO ULTIMO*/
  
  footer {
    background-color: #483779;
    font-family: var(--FuentePrincipal);
    color: white;
    margin-top: 900px;
  
  }
  
  
  /*NOTICIAS*/
  
  /*noticias grandes*/
  
  .containerNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 80px 10%;
    gap: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
  }
  
  .news {
    width: 100%;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    gap: 20px;
  }
  
  .gridnews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    grid-column: 2/3;
    gap: 20px;
  }
  .gridnews .newsImg {
    background-image: url(https://media.vandal.net/i/1280x720/6-2023/202361412432968_1.jpg.webp);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    background-position-x: -250px ;
   
  }
  .news .newsImg {
    background-image: url(https://media.vandal.net/i/1280x720/6-2023/202361412432968_1.jpg.webp);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    background-position-x: -250px ;
   
  }
  .newsvermas{
  
  display: flex;
  background-color:#483779 ;
  justify-content: center;
  align-items: center;
  
  }
  .enlancenoticia{
    
    font-size: 30px;
    text-decoration: none; 
    border-radius: 10px;
    color:white;
    font-family: var(--FuentePrincipal);
    text-align: center;
    
  }
  
  .irNews{
  font-size: 30px;
  text-decoration: none;
  background-color: #483779;
  border-radius: 5px;
  color:white;
  font-family: var(--FuentePrincipal);
  text-align: center;
  
  
  }
  .news .newsImg {
    background-image: url(https://media.vandal.net/i/1280x720/6-2023/20236141751747_1.jpg.webp);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    background-position-x: -250px ;
  }
  
  .TituloNoti {
    font-size: 40px;
    font-family: var(--FuentePrincipal);
    color: white;
    text-align: center;
    margin-top: 30px;
    border-bottom: 3px solid rgb(54, 54, 54);
  }
  






  
  .noticias {
    margin: 20px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
  }
  
  .noticia {
    border-top: 3px solid rgb(54, 54, 54);
    border-bottom: 3px solid rgb(54, 54, 54);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    /* background-color: #4d4c4c; */
    padding: 20px;
    border-width: 1px;
    background-color: #1f1f1f;
  }
  
  .imagen img {
    object-fit: cover;
    margin-top: 20%;
    width: 100px;
    height: 150px;
    margin-right: 20px;
  
  }
  
  .contenido {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-top: 1px solid rgb(54, 54, 54);
    border-bottom: 1px solid rgb(54, 54, 54);
    padding: 10px;
    font-size: 13px;
    
  }
  
  .contenido h2 {
    font-size: 15px;
    color: white;
    margin-top: 0;
  }
  
  
  
  .contenedor-boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Ajusta el margen superior según sea necesario */
  }
  
  .agregarmas {
    display: flex;
    margin: 90px auto;
    justify-content: center;
    background-color: #483779;
    color: white;
    font-family: var(--FuentePrincipal);
    font-size: 30px;
    border-radius: 10px 10px 10px 1px;
    border: none;
  }
  
  .agregarmas:hover {
    transform: scale;
  
  }
  
  /*medias noticas*/
  
  